##**
## head.vm - Elementos do <head> do documento HTML
##*#
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="author" content="Eduardo Saint Clair">
<meta name="contact" content="eduardo.saintclair@serpro.gov.br">
<meta name="description" content="O VER é um serviço de busca e agregação de altíssimo desempenho em coleções de dados que possui interface amigável para homens e máquinas e permite a análise e cruzamento das diversas fontes de dados, estruturados ou não, do SERPRO e de clientes.">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />

<link rel="shortcut icon" type="image/png" href="${request.contextPath}/assets/img/favicon/logo-simbolo_e-Processo.svg"/>

## CSS Base
<link rel="stylesheet" href="${request.contextPath}/assets/css/reset.css">
<link rel="stylesheet" href="${request.contextPath}/assets/css/variables.css">
<link rel="stylesheet" href="${request.contextPath}/assets/css/typography.css">
<link rel="stylesheet" href="${request.contextPath}/assets/css/components.css">
<link rel="stylesheet" href="${request.contextPath}/assets/css/global.css">

## CSS Páginas
<link rel="stylesheet" href="${request.contextPath}/assets/css/mainHeader.css">
<link rel="stylesheet" href="${request.contextPath}/assets/css/pageEmpty.css">
<link rel="stylesheet" href="${request.contextPath}/assets/css/pageResults.css">
<link rel="stylesheet" href="${request.contextPath}/assets/css/resultCard.css">
<link rel="stylesheet" href="${request.contextPath}/assets/css/dialogs.css">
<link rel="stylesheet" href="${request.contextPath}/assets/css/fieldsSelector.css">
<link rel="stylesheet" href="${request.contextPath}/assets/css/ajudaDialog.css">

## jQuery UI para autocomplete (mantido da versão antiga)
<link rel="stylesheet" href="/css/jquery-ui.css">
<link rel="stylesheet" href="/css/contrast.css">

<title>eProcesso Buscador</title>

## jQuery (mantido da versão antiga para compatibilidade)
<script src="/js/jquery-3.6.0.js"></script>
<script src="/js/jquery-ui.js"></script>
<script src="/js/contrast.js"></script>