##**
## pageResults.vm - Página com resultados da busca
##*#
<div id="sidebarOverlay"></div>
<main id="pageResults">
    ## Sidebar com facetas
    <aside id="sidebar">
        <div class="sidebar-header">
            <div class="header-top">
                <div class="btn-group">
                    <button class="circle-btn btn-expand-all" title="Expandir todos">
                        <img src="${request.contextPath}/assets/img/icons/maximize-solid-full.svg" alt="Expandir" class="circle-btn-icon">
                    </button>
                    <button class="circle-btn circle-btn-right btn-collapse-all" title="Recolher todos">
                        <img src="${request.contextPath}/assets/img/icons/minimize-solid-full.svg" alt="Recolher" class="circle-btn-icon">
                    </button>
                </div>
                <div class="search-input-wrapper">
                    <input type="text" class="search-input facet-filter" placeholder="Filtrar facetas...">
                    <button type="button" class="clear-btn">
                        <img src="${request.contextPath}/assets/img/icons/xmark-solid-full.svg" alt="Limpar" class="clear-icon">
                    </button>
                </div>
            </div>
        </div>
        
        ## Incluir facetas
        #parse("facets.vm")
        
        <div id="sidebarResizer"></div>
    </aside>
    
    ## Conteúdo principal
    <section id="mainContent">
        <section id="results">
            #parse("results_list.vm")
        </section>
        
        <footer id="pageResultsFooter">
            <div id="pageResultsFooterLeft">
                <button id="ajudaBtn" class="btn-icon" aria-label="Ajuda">
                    <img class="iconColor" src="${request.contextPath}/assets/img/icons/circle-question-regular-full.svg" alt="">
                </button>
                <button class="pageNavMobile btn-icon" aria-label="Página anterior">
                    <img class="iconColor" src="${request.contextPath}/assets/img/icons/chevron-left-solid-full.svg" alt="">
                </button>
                <div id="resultsCount">
                    <span class="fullText">Mostrando <strong>$page.start-$page.end</strong> de <strong>$number.format('#,##0',$page.results_found)</strong> resultados</span>
                    <span class="shortText"><strong>$page.start-$page.end</strong> / <strong>$number.format('#,##0',$page.results_found)</strong></span>
                </div>
                <button class="pageNavMobile btn-icon" aria-label="Próxima página">
                    <img class="iconColor" src="${request.contextPath}/assets/img/icons/chevron-right-solid-full.svg" alt="">
                </button>
                
                <div id="pagination">
                    #link_to_previous_page("Anterior")
                    
                    ## Renderizar páginas
                    #set($currentPage = $page.current_page_number)
                    #set($totalPages = $page.page_count)
                    #set($startPage = 1)
                    #set($endPage = $totalPages)
                    
                    ## Mostrar elipses se necessário
                    #if($totalPages > 7)
                        #if($currentPage > 4)
                            <button class="pageNumber" data-page="1">1</button>
                            <button class="pageNumber" disabled>...</button>
                            #set($startPage = $currentPage - 2)
                        #end
                        
                        #if($currentPage < $totalPages - 3)
                            #set($endPage = $currentPage + 2)
                        #end
                    #end
                    
                    #foreach($i in [$startPage..$endPage])
                        <button class="pageNumber #if($i == $currentPage)active#end" data-page="$i">$i</button>
                    #end
                    
                    #if($totalPages > 7 && $currentPage < $totalPages - 3)
                        <button class="pageNumber" disabled>...</button>
                        <button class="pageNumber" data-page="$totalPages">$totalPages</button>
                    #end
                    
                    #link_to_next_page("Próximo")
                </div>
            </div>
            <div id="pageResultsFooterRight">
                <div id="downloadDropdown" class="dropdown">
                    <button id="downloadDropdownBtn" class="btn-icon" aria-label="Download">
                        <img class="iconColor" src="${request.contextPath}/assets/img/icons/download-solid-full.svg" alt="">
                    </button>
                    <ul id="downloadMenu" class="dropdown-menu dropdown-menu-top dropdown-menu-right">
                        <li><button class="dropdown-item" value="xml">XML</button></li>
                        <li><button class="dropdown-item" value="json">JSON</button></li>
                        <li><button class="dropdown-item" value="csv">CSV</button></li>
                    </ul>
                </div>
                <div id="downloadGroup">
                    <img class="iconColor" src="${request.contextPath}/assets/img/icons/download-solid-full.svg" alt="">
                    <button class="downloadBtn" data-format="xml">XML</button>
                    <button class="downloadBtn" data-format="json">JSON</button>
                    <button class="downloadBtn" data-format="csv">CSV</button>
                </div>

                <div id="fieldsDropdown" class="dropdown">
                    <button id="fieldsDropdownBtn" class="btn-icon" aria-label="Configurar campos visíveis" title="Campos visíveis">
                        <img class="iconColor" src="${request.contextPath}/assets/img/icons/list-check-solid-full.svg" alt="">
                    </button>
                    <div class="fields-menu dropdown-menu dropdown-menu-top dropdown-menu-right">
                        <div class="fields-menu-header">
                            <span>Campos visíveis</span>
                            <div class="fields-menu-actions">
                                <button type="button" class="fields-select-all" title="Selecionar todos">Todos</button>
                                <button type="button" class="fields-select-none" title="Limpar seleção">Nenhum</button>
                            </div>
                        </div>
                        <div class="fields-menu-list">
                            ## Campos serão inseridos via JS
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </section>
</main>