##**
## pageEmpty.vm - Tela quando não há resultados
##*#
<main id="pageEmpty">
    <div class="empty-component">
        <div class="empty-icon">
            <img src="${request.contextPath}/assets/img/icons/magnifying-glass-solid-full.svg" alt="">
        </div>
        <div class="empty-text">
            <h1 class="empty-title">Busque processos administrativos</h1>
            <p class="empty-description">Digite um termo para pesquisar processos da Receita Federal, PGFN e CARF.</p>
        </div>
        <search class="empty-search">
            <form class="searchForm" action="#{url_for_home}" method="GET">
                <div class="searchInputWraper">
                    <img class="searchIcon iconColor" src="${request.contextPath}/assets/img/icons/magnifying-glass-solid-full.svg" alt="">
                    <input class="searchInput" type="text" name="q" value="$!esc.html($params.get('q'))" placeholder="Digite para buscar...">
                    <button class="searchCloseBtn" type="button" aria-label="Limpar busca">
                        <img class="iconColor" src="${request.contextPath}/assets/img/icons/xmark-solid-full.svg" alt="">
                    </button>
                    <kbd class="searchKBD">Ctrl+K</kbd>
                </div>
                <button class="searchBtn" type="submit">Buscar</button>
                <button type="button" class="filterBtn" id="openFiltersBtn">
                    <span class="filterBtnIcon">
                        <img class="iconColor" src="${request.contextPath}/assets/img/icons/filter-solid-full.svg" alt="">
                    </span>
                    <span class="filterBtnText">Filtrar</span>
                    <span class="filtersUsedNumbers"></span>
                </button>
            </form>
            <a href="#" class="empty-help-link" id="emptyHelpLink">
                <img class="iconColor" src="${request.contextPath}/assets/img/icons/circle-question-regular-full.svg" alt="">
                <span>Ajuda</span>
            </a>
        </search>
    </div>
</main>