#**
 *  Faceted navigation sidebar
 *#

#set($labelsMap = {
    'grupo_processo_s': 'Grupo Processo',
    'tipo_processo_s': 'Tipo Processo',
    'subtipo_processo_s': 'Subtipo Processo',
    'tipo_documento_s': 'Tipo Documento',
    'situacao_s': 'Situação',
    'unidade_origem_s': 'Unidade Origem',
    'equipe_origem_s': 'Equipe Origem',
    'nome_unidade_atual_s': 'Unidade Atual',
    'nome_equipe_atual_s': 'Equipe Atual',
    'tributo_act_s': 'Tributo ACT'
})

#if($response.facetFields)
#foreach($field in $response.facetFields)
#if($field.values.size() > 0)
<div class="facetGroup open">
    <button class="facetTitle" title="#if($labelsMap.get($field.name))$labelsMap.get($field.name)#else$field.name#end">
        <span>#if($labelsMap.get($field.name))$labelsMap.get($field.name)#else$field.name#end</span>
        <img class="iconColor facetChevron" src="/eprocesso/assets/img/icons/chevron-down-solid-full.svg" alt="">
    </button>
    <ul class="facetList">
        #foreach($facet in $field.values)
        #if($facet.count > 0)
        <li class="facetText">
            <button onclick="window.location.href='#url_for_facet_filter($field.name, $facet.name)'" title="$!esc.html($facet.name)">
                <span>#if($facet.name)$esc.html($display.truncate($facet.name, 30))#else<em>Não informado</em>#end</span>
                <span class="facetNumber">$number.format('#,##0', $facet.count)</span>
            </button>
        </li>
        #end
        #end
    </ul>
</div>
#end
#end
#end

## Facet queries (se houver)
#if($response.response.facet_counts.facet_queries)
#set($facetQueries = $response.response.facet_counts.facet_queries)
#if($facetQueries.size() > 0)
<div class="facetGroup">
    <button class="facetTitle">
        <span>Filtros Rápidos</span>
        <img class="iconColor facetChevron" src="/eprocesso/assets/img/icons/chevron-down-solid-full.svg" alt="">
    </button>
    <ul class="facetList">
        #foreach($fq in $facetQueries)
        #if($fq.value > 0)
        <li class="facetText">
            <button onclick="window.location.href='#url_for_home#lens&fq=$esc.url($fq.key)'">
                <span>$fq.key</span>
                <span class="facetNumber">$number.format('#,##0', $fq.value)</span>
            </button>
        </li>
        #end
        #end
    </ul>
</div>
#end
#end
