#**
 *  Pagination and footer controls
 *#

<div id="pageResultsFooterLeft">
    <button id="ajudaBtn" class="btn-icon" aria-label="Ajuda" onclick="openAjudaDialog()">
        <img class="iconColor" src="${assetsPath}/img/icons/circle-question-regular-full.svg" alt="">
    </button>
    
    ## Mobile navigation arrows
    <button class="pageNavMobile btn-icon" aria-label="Página anterior" onclick="goToPrevPage()">
        <img class="iconColor" src="${assetsPath}/img/icons/chevron-left-solid-full.svg" alt="">
    </button>
    
    <div id="resultsCount">
        #if($page && $page.results_found > 0)
        #set($startResult = $page.start + 1)
        #set($endResult = $page.start + $response.results.size())
        <span class="fullText">Mostrando <strong>$startResult-$endResult</strong> de <strong>$number.format('#,##0', $page.results_found)</strong> resultados</span>
        <span class="shortText"><strong>$startResult-$endResult</strong> / <strong>$number.format('#,##0', $page.results_found)</strong></span>
        #else
        <span class="fullText">Nenhum resultado</span>
        <span class="shortText">0</span>
        #end
    </div>
    
    <button class="pageNavMobile btn-icon" aria-label="Próxima página" onclick="goToNextPage()">
        <img class="iconColor" src="${assetsPath}/img/icons/chevron-right-solid-full.svg" alt="">
    </button>
    
    ## Desktop pagination
    #if($page && $page.page_count > 1)
    <div id="pagination">
        #link_to_previous_page("Anterior")
        
        ## Page numbers
        #set($startPage = 1)
        #set($endPage = $page.page_count)
        #set($maxVisiblePages = 7)
        
        #if($page.page_count > $maxVisiblePages)
            #set($halfVisible = 3)
            #set($startPage = $page.current_page_number - $halfVisible)
            #set($endPage = $page.current_page_number + $halfVisible)
            
            #if($startPage < 1)
                #set($startPage = 1)
                #set($endPage = $maxVisiblePages)
            #end
            
            #if($endPage > $page.page_count)
                #set($endPage = $page.page_count)
                #set($startPage = $page.page_count - $maxVisiblePages + 1)
                #if($startPage < 1)#set($startPage = 1)#end
            #end
        #end
        
        #if($startPage > 1)
            #link_to_page(1)
            #if($startPage > 2)
                <button class="pageNumber" disabled>...</button>
            #end
        #end
        
        #foreach($pageNum in [$startPage..$endPage])
            #link_to_page($pageNum)
        #end
        
        #if($endPage < $page.page_count)
            #if($endPage < $page.page_count - 1)
                <button class="pageNumber" disabled>...</button>
            #end
            #link_to_page($page.page_count)
        #end
        
        #link_to_next_page("Próximo")
    </div>
    #end
</div>

<div id="pageResultsFooterRight">
    ## Download dropdown (mobile)
    <div id="downloadDropdown" class="dropdown">
        <button id="downloadDropdownBtn" class="btn-icon" aria-label="Download">
            <img class="iconColor" src="${assetsPath}/img/icons/download-solid-full.svg" alt="">
        </button>
        <ul id="downloadMenu" class="dropdown-menu dropdown-menu-top dropdown-menu-right">
            <li><button class="dropdown-item" onclick="downloadResults('xml')">XML</button></li>
            <li><button class="dropdown-item" onclick="downloadResults('json')">JSON</button></li>
            <li><button class="dropdown-item" onclick="downloadResults('csv')">CSV</button></li>
        </ul>
    </div>
    
    ## Download buttons (desktop)
    <div id="downloadGroup">
        <img class="iconColor" src="${assetsPath}/img/icons/download-solid-full.svg" alt="">
        <a class="downloadBtn" href="#url_for_lens&wt=xml&start=$!page.start" target="_blank">XML</a>
        <a class="downloadBtn" href="#url_for_lens&wt=json&start=$!page.start" target="_blank">JSON</a>
        <a class="downloadBtn" href="#url_for_lens&wt=csv&start=$!page.start" target="_blank">CSV</a>
    </div>

    ## Fields selector
    <div id="fieldsDropdown" class="dropdown">
        <button id="fieldsDropdownBtn" class="btn-icon" aria-label="Configurar campos visíveis" title="Campos visíveis">
            <img class="iconColor" src="${assetsPath}/img/icons/list-check-solid-full.svg" alt="">
        </button>
        <div class="fields-menu dropdown-menu dropdown-menu-top dropdown-menu-right">
            <div class="fields-menu-header">
                <span>Campos visíveis</span>
                <div class="fields-menu-actions">
                    <button type="button" class="fields-select-all" title="Selecionar todos">Todos</button>
                    <button type="button" class="fields-select-none" title="Limpar seleção">Nenhum</button>
                </div>
            </div>
            <div class="fields-menu-list">
                <!-- Populated by JavaScript -->
            </div>
        </div>
    </div>
</div>

<script>
function goToPrevPage() {
    #if($page && $page.current_page_number > 1)
    #set($prev_start = $page.start - $page.results_per_page)
    window.location.href = '#url_for_start($prev_start)';
    #end
}

function goToNextPage() {
    #if($page && $page.current_page_number < $page.page_count)
    #set($next_start = $page.start + $page.results_per_page)
    window.location.href = '#url_for_start($next_start)';
    #end
}

function downloadResults(format) {
    var url = '#url_for_lens&start=$!page.start&wt=' + format;
    window.open(url, '_blank');
}
</script>
